pyautogui
matplotlib
scipy
safetensors==0.5.3
mujoco==3.10.0
lerobot[pi,smolvla]==0.6.0
datasets==5.0.0
av>=15.1.0
torchcodec>=0.11.0,<0.12.0
jsonlines>=4.0.0
pandas>=2.3.3
torch>=2.7,<2.12
torchvision>=0.22,<0.27
torchaudio>=2.7,<2.12
transformers>=5.4,<5.6
